@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&subset=cyrillic");

*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Roboto Mono", sans-serif;
}

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 80vh;
    margin: 0;
    
    font-family: "Roboto Mono", sans-serif;
    overflow: hidden;
    font-size: 5.25vmin;
    font-weight: bolder;
}

hr {
    text-align: center;
    position: relative;
    
    width: 450px;

    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 30px;

    border: solid #f5f1ed;
    border-radius: 5px;

    top: 0px;
}

#gameTitle {
    text-align: center;
    position: relative;
    top: 125px;

    font-size: 65px;
    color: #f5f1ed;
    border-color: 5px;
}

.display {
    color: white;
    
    font-size: 25px;
    text-align: center;
    
    margin-top: 0.5em;
    margin-bottom: 1.2em;
}

#attribution {
    position: absolute;
    right: 20px;
    bottom: 20px;
    
    font-size: 0.8rem;
    font-weight: bolder;
    
    background-color: #a9b7c1;
    padding: 10px;
    border-radius: 10px;
    
    color: #1d2326;
    box-shadow: 1px 2px 5px 1px rgba(255, 255, 255, 0.2);
}

#game-board {
    position: relative;
    display: grid;
    
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    background-color: #CCC;
    border-radius: 1vmin;

    gap: var(--cell-gap);
    padding: var(--cell-gap);
}

.cell {
    background-color: #AAA;
    border-radius: 1vmin;
}

.tile {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 1vmin;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    
    font-weight: bold;
    background-color: hsl(200, 50%, var(--background-lightness));
    color: hsl(200, 25%, var(--text-lightness));
    
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
}

@keyframes show {
    0% {
        opacity: .5;
        transform: scale(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}