@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&subset=cyrillic");

body {
    background-color: rgb(226, 211, 211);
    font-family: "Roboto Mono", sans-serif;
}

h1 {
    position: center;
    text-align: center;
}

.gameScore {
    text-align: center;
}

hr {
    width: 500px;
    height: 1px;
    background-color: solid black;
    border: solid black;
    position: relative;
}

.gameBoard {
    width: 400px;
    height: 400px;

    background-color: #cdc1b5;
    border: 6px solid #bbada0;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.gameTile {
    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;
    
    font-size: 40px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}